<div class="signup_wrap">
  <div class="site_container">
     <%= render :partial => "sidebar" %>
    
    <div class="verticalside">
    <div class="error"> 
      <%
          if !flash[:error].nil? 

      %>
          <% flash[:error].each do |f| %>
              <%= f %> </br>
          <% end %>
      <% end %>
    </div>
      <div class="form_for">
    	<%= form_for(@expendituers,:url => home_expendituerscreate_path) do |f| %>  
				
			      <div class="field">
               <label><%= f.label :source  %><br /></label>
               <% @source = current_user.categories.where("type =?","Expensecategory") %>

              <%= f.select :category_id,options_for_select( @source.all.collect { |c|[c.source,c.id ] }),{:prompt => "Select category"},:id => "select-location", :class => "txtbox" %>
            </div>
          
            <div class="field">
               <label><%= f.label :amount %><br /></label>
               <%= f.text_field :amount,:class => "txtbox" %>
            </div>
            <div class="field">
               <label><%= f.label :date %><br /></label>
               <%= f.date_field :date,:class => "txtbox" %>
            </div>
            
            <%= f.hidden_field :user_id,:value => current_user.id  %>
            <div class="field">
               
               <%= f.submit "submit",:class => "txtbox" %>
            </div>

    	<% end %>
      </div>
    </div>
  </div>
</div>
<div class="clear_fix"></div>