<div class="signup_wrap">
  <div class="site_container">
    <div class="signup">
    <%= form_for( @expendcategory,:url => home_expensecategorycreate_path) do |f| %>  
				
			     <div class="field">
               <label><%= f.label :source  %><br /></label>
                <%= f.text_field :source, autofocus: true, :class => "txtbox" %>
           </div>
          
            <div class="field">
               <label><%= f.label :Description %><br /></label>
               <%= f.text_area :desc, autofocus: true, :class => "txtbox" %>
            </div>
            
            <%= f.hidden_field :user_id,:value => current_user.id  %>
            <div class="field">
               
               <%= f.submit "submit",:class => "txtbox" %>
            </div>

    	<% end %>
    </div>
  </div>
</div>