<div class="signup_wrap">
  <div class="site_container">
   
     <%= render :partial => "sidebar" %>
     <div class="verticalside">
        <div class="username">
         	<%= current_user.name %>
         	
         	
         </div>
         
         <div class="addincome">
             <%= link_to "Add Expendituers",home_addexpenditures_path %>
         </div>
        
         
         <div class="incomeinfo">
         <% if !flash[:notice].nil? %>
                <div class="notice"> <%= flash[:notice] %> </div>
            <% end %>
         	<table border="1" style="width:100%;height:100px;">
         	    <tr>
         		<th>Source of Expendituers </th>
         		<th>Income</th>
         		<th>Date</th>
         		</tr>
                
                <% @amount = 0 %>
              
                <% Transaction.includes(:category).where('user_id=? AND type =?', current_user.id,"Expense") .each do |f| %>
         		<tr>
                    
         			<td align="center"> <%= f.category.source %> </td>
         			<td align="center"><%= f.amount %></td>
         			<td align="center"><%= f.date%></td>
                        <% @amount =  @amount + f.amount.to_f  %>
                        
         		</tr>
                <% end %>
                
         	</table>
         </div>
         <div class="incomeinfo">
             Total Income:<%= @amount %>
         </div>
   
  </div>
</div>
<div class="clear_fix"></div>