<div class="signup_wrap">
  <div class="site_container">
   
     <%= render :partial => "sidebar" %>
     <div class="verticalside">
         <div class="username">
         	<%= current_user.name %>
         	
         	
         </div>
         
         <div class="addincome">
             <%= link_to "Add Income",home_addincome_path %>
         </div>
         <div class="incomeinfo">
         	<table border="1" style="width:100%;height:100px;">
         	    <tr>
         		<th>Source of income</th>
         		<th>Income</th>
         		<th>Date</th>
         		</tr>
                
                <% @amount = 0 %>
                <% current_user.incomes.each do |f| %>
         		<tr>
                    
         			<td align="center"> <%= IncomeCategory.find(f.incomecategory_id).incomesource %> </td>
         			<td align="center"><%= f.amount %></td>
         			<td align="center"><%= f.created_at %></td>
                        <% @amount =  @amount + f.amount.to_f  %>
                        
         		</tr>
                <% end %>
                
         	</table>
         </div>
         <div class="incomeinfo">
             Total Income:<%= @amount %>
         </div>
     </div>
   
  </div>
</div>
<div class="clear_fix"></div>